{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    {% if validlink %}
        <form action="." method="post">
        {% if form.errors %}
   {% for field in form %}
      {% for error in field.errors %}
         <p class="small" style="color: #EF5350;font-family: Bitstream Vera Sans Mono, Monaco, Courier New, Courier, monospace"> {{ error|escape }} </p>
      {% endfor %}
   {% endfor %}
{% endif %}
           {% comment %} {{ form.as_p }} {% endcomment %}
           <li> <input id="id_new_password1" placeholder="New Password" name="new_password1" required="" type="password" style="background-color:#f0f0f0;border:0px;-webkit-box-shadow:none;box-shadow:none;position:relative;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;border-radius:3px;font-weight:bold;padding:10px;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;color:#333;font-size:14px;outline:none;"> </li>
            <li><input id="id_new_password2" placeholder="New Password Confirmation" name="new_password2" required="" type="password" style="background-color:#f0f0f0;border:0px;-webkit-box-shadow:none;box-shadow:none;position:relative;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;border-radius:3px;font-weight:bold;padding:10px;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;color:#333;font-size:14px;outline:none;"></li>
            {% csrf_token %}
            <p><input type="submit" value="Change my password" /></p>
        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}
