{% extends "pass.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}


<input id="id_email" placeholder="Enter Email" name="email" maxlength="254" required="" type="email" style="background-color:#f0f0f0;border:0px;-webkit-box-shadow:none;box-shadow:none;position:relative;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;border-radius:3px;font-weight:bold;padding:10px;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;color:#333;font-size:14px;outline:none;">

   <!-- <form action="." method="post">-->
      {% comment %}  {{ form.as_p }} {% endcomment %}
    </br>
        <p><input type="submit" value="Send e-mail"></p>
        {% csrf_token %}
    <!--</form>-->
{% endblock %}
