{% extends "pass.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
   <!-- <h1 style="color: #5ca3d9;align:center;">Reset your password</h1>
     <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p> -->
    <p class="alert alert-info" >We've emailed you instructions for setting your password.</p>
    <p class=" alert alert-danger" >If you don't receive an email?</p>
    <p class=" alert alert-danger small" >please make sure you've entered the address you registered with.</p>
{% endblock %}
