{% extends 'basedash.html' %}
{% block title %}Contact Details{% endblock %}
{% comment %}{% block albums_active %}active{% endblock %} {% endcomment %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p class="alert alert-info">Email Id: support@brushflicks.com</p>
                    <p class="alert alert-info">Whatsapp Number: Will Update Soon</p>
                    <p class="alert alert-danger">Office Hours: Mon-Fri 9:30-5:30, Sat. 9:30-3:00, Sun. Closed</p>
                    <p class="alert alert-info">Company Address:  CIBA, Verna<br>
                    Madgaon, Goa<br>
                    403713</p>
                </div>
            </div>
        </div>
</div>

</div>

{% endblock %}
