{% extends 'basedash.html' %}
{% block title %}Email Sent{% endblock %}
{% comment %}{% block albums_active %}active{% endblock %} {% endcomment %}
<head>
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1">
</head>

{% block body %}
<div class="container-fluid ">


<div class="row">
    <div class="col-md-2">
        </div>
  <div class="col-md-8">
            <div class="panel panel-default headfont">
                <div class="panel-body">
                     <div class="form-group">
                        <div class="page-header"><h3 class="headstyle text-center">Email sent to recruiter,
                            please have patience.</h3></div>
                      </div>
                </div>
            </div>

</div>
    <div class="col-md-2">
        </div>
</div>

    <div class="col-md-2">
        </div>
  <div class="col-md-8">
            <div class="panel panel-default bodygif">
                <div class="panel-body">
                     <div class="form-group">
                </div>
            </div>

</div>
    <div class="col-md-2">
        </div>



</div>
{% endblock %}
