<html xmlns="http://www.w3.org/1999/xhtml">

<body style="font-family:Bitstream Vera Sans Mono, Monaco, Courier New, Courier, monospace;">

<div style="width:100%;" align="center">

<table width="600" border="0" cellspacing="0" cellpadding="0" >
  <tr>
    <td align="left" valign="top" style="background-color:#d50000;" bgcolor="#d50000;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="13" align="left" valign="top">&nbsp;</td>
        <td width="465" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="10">
              <tr>
                <td>
                    <div style="font-size:36px;color:#FFFFFF;">Brushflicks Get Hired</div>
                    <div style="font-size:18px;color:#FFFFFF;">Email From Interested Recruiter</div>
                    <p style="font-size:12px;color:#FFFFFF;">{{ date }}</p>
                </td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">

              <tr>
                <td align="left" valign="top" bgcolor="#e53935"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="10">&nbsp;</td>
                    <br align="left" valign="top" style="color:#FFFFFF;">
                    </br></br>
                    <div style="font-size:24px;color:#FFFFFF;"><b>Profile details of recruiter</b></div>
                      <div style="width:320px;font-family: Bitstream Vera Sans Mono, Monaco, Courier New, Courier, monospace;color: #0F0000;">
                            <ol style="font-style:italic;font-size:20px; color:#FFFFFF;">
                                <li style="color: #FFFFFF;"><p style="padding:8px; font-style:normal;font-size:15px; color:#FFFFFF; border-left: 1px solid #d50000;"><em style="display:block;color:#000000;font-style:normal;">Name</em> {{ name }}</p></li>
                                <li style="color: #FFFFFF;"><p style="padding:8px; font-style:normal;font-size:15px; color:#FFFFFF; border-left: 1px solid #d50000;"><em style="display:block;color:#000000;font-style:normal;">Country</em> {{ country }}</p></li>
                                <li style="color: #FFFFFF;"><p style="padding:8px; font-style:normal;font-size:15px; color:#FFFFFF; border-left: 1px solid #d50000;"><em style="display:block;color:#000000;font-style:normal;">Email ID</em> {{ email_id }}</p></li>
                                <li style="color: #FFFFFF;"><p style="padding:8px; font-style:normal;font-size:15px; color:#FFFFFF; border-left: 1px solid #d50000;"><em style="display:block;color:#000000;font-style:normal;">Remark</em> {{ remark }}</p></li>
                            </ol>
                      </div>
                      <div style="font-size:24px;color:#FFFFFF;"><b>Your Post Views & Interest by recruiters</b></div>
                     <div class="list2">
                            <ol>
                                <li><p style="padding:8px; font-style:normal;font-size:15px; color:#FFFFFF; border-left: 1px solid #d50000;"><em style="display:block;color:#000000;font-style:normal;"><i class="fa fa-fw fa-eye" style="color:#B71C1C;"></i></em> {{ count_v }}</p></li>
								<li><p style="padding:8px; font-style:normal;font-size:15px; color:#FFFFFF; border-left: 1px solid #d50000;"><em style="display:block;color:#000000;font-style:normal;"><i class="fa fa-fw fa-mail-forward" style="color:#B71C1C;"></i></em> {{ count_interest }}</p></li>
                            </ol>
                     </div>
					  </td>
                    <td width="10">&nbsp;</td>
                  </tr>
                </table></td>
              </tr>
            </table>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="left" valign="top">&nbsp;</td>
                </tr>
                <tr>
                  <td align="left" valign="top"><div style="font-size:11px; color:#000000; font-family:Arial, Helvetica, sans-serif;"> <b>Company Address </b><br>
                    CIBA, Verna<br>
                    Madgaon, Goa<br>
                    403713 </div>
                    <br>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="87%" style="font-size:11px; color:#000000;"><b>Hours: Mon-Fri 9:30-5:30, Sat. 9:30-3:00, Sun. Closed <br>
                          Customer Support: brushflicks@gmail.com</b></td>
                      </tr>
                    </table></td>
                </tr>
                <tr>
                  <td align="left" valign="top">&nbsp;</td>
                </tr>
              </table>
              </td>
          </tr>
        </table></td>
        <td align="left" valign="top">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>

</div>
</body>
</html>
