{% extends 'basedash.html' %}
{% load staticfiles %}
{% block javascriptcssupload %}
    <link rel="stylesheet" type="text/css" href="{% static 'account/css/dropzone.css' %}"/>
{% endblock %}
{% block javascriptupload %}
    <script type="text/javascript" src="{% static 'account/js/dropzone.js' %}"></script>
{% endblock %}


{% block title %}Upload Product Image{% endblock %}
{% comment %}{% block albums_active %}active{% endblock %} {% endcomment %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="page-header"><h3 class="headstyle text-center">Add More {{ new_obj.art_type }} Image</h3></div>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="dropzone form-horizontal" role="form" id="myDropzone" action="{% url 'SellProductAlbum' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="user_id" value="{{ new_obj.user_id }}" />
                        <input type="hidden" name="sell_id" value="{{ new_obj.id }}" />
                        {% include 'account/form_template.html' %}

                    </form>
                </div>
            </div>
        </div>

    <div class="col-sm-12 col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="page-header"><h3 class="headstyle text-center">Please Add Few More Product Sample Image</h3></div>
                    <h3>Upload your painting image sample by select all image or by drag and drop.</h3>
                    <p>You can preview image here only if uploaded.</p>
                    <p>This sample necessary so that recruiter as well as other users can see your skills and capability.</p>
                    <p> Accepts only file with extension .png,.jpg,.gif,.bmp,.jpeg</p>
                    <h3>Maximum file can upload and each file size should not exceed more than 2 MB.</h3>
                    <p>Maximum File Can Upload: 4</p>
                    <p>Maximum File Size Not Exceed: 2 MB</p>
                    <p>Please select files by cntrl + mouse click</p>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}

{% block filezone %}
    <script>
    Dropzone.options.myDropzone ={
            paramName: "album_files", // name of input
            autoProcessQueue : true,
            parallelUploads: 1,
            acceptedFiles: ".png,.jpg,.gif,.bmp,.jpeg",
            maxFiles: 4,
            maxFilesize: 2,//MB

            init :  function (){
                this.on( "success", function( file, responseText){
                    // event launched at the end of uploading images queued
                    setTimeout(function() {
                    window.location.href = '{% url 'sellhome' %}';
                     }, 10000);
                    console.log( responseText );
                });

                myDropzone.on("complete", function(file) {
                myDropzone.removeFile(file);
});
            }
        };
    </script>
{% endblock %}