{% extends 'basedash.html' %}
{% block title %}Profile Update{% endblock %}
{% comment %}{% block albums_active %}active{% endblock %} {% endcomment %}

{% block body %}
<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Update Profile</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="{% url 'profile_update' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'account/form_template.html' %}
                        <input type="hidden" name="user_id" value="{{ user_id }}"/>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>What are some my pic best practices? If you are painter or photographer!</h3>
                    <ul>
                        <li>Have a resolution of 512x512</li>
                        <li>Use common image formats such as .JPG, .GIF, or .PNG</li>
                        <li>Remain under the 2MB limit.</li>
                        <li>Square images look best</li>
                    </ul>
                    <h3>What are some music upload best practices? If you are musician or band!</h3>
                    <ul>
                        <li>Use common music formats such as .mp3, .wav, or .ogg</li>
                        <li>Size Remain under the 10MB limit.</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}
