{% extends 'basedash.html' %}
{% block title %}Symbol or Icon Information{% endblock %}
{% comment %}{% block albums_active %}active{% endblock %} {% endcomment %}

{% block body %}
<div class="container-fluid" >

    <div class="row">

        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default" style="align-content: center;">
                <div class="panel-body">

                    <p class="alert alert-danger"><i class="fa fa-thumbs-o-up" style="color: #B71C1C;"> &nbsp; Clicking Thumbs Up Meaning You Liked Card.</i></p>
                    <p class="alert alert-danger"><i class="fa fa-user" style="color: #B71C1C;"> &nbsp; Check Profile Of User Who Posted The Cards.</i></p>
                    <p class="alert alert-danger"><i class="fa fa-info-circle" style="color: #B71C1C;"> &nbsp; To See Details Of User Posted Item Or Recruiter Posted for Requirement Or Candidates Posted For Job Search.</i></p>
                    <p class="alert alert-danger"><i class="fa fa-flag" style="color: #B71C1C;"> &nbsp; Click To Save Cards To Check Later.</i></p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default" style="align-content: center;">
                <div class="panel-body">

                    <p class="alert alert-danger"><i class="fa fa-bars" style="color: #B71C1C;"> &nbsp; By Clicking User Can See Details Of Post At Other Side Of Cards. They Can Share Too The Cards.</i></p>
                    <p class="alert alert-danger"><i class="fa fa-shopping-cart" style="color: #B71C1C;"> &nbsp; User Can Buy The Art Product By Clicking On Shopping Cart To Add Into Cark Bucket.</i></p>
                    <p class="alert alert-danger"><i class="fa fa-eye" style="color: #B71C1C;"> &nbsp; Shows The Number Of Times User Views The Details Of Cards.</i></p>
                    <p class="alert alert-danger"><i class="fa fa-mail-forward" style="color: #B71C1C;"> &nbsp; Recruiters Will Know How Many Candidate Applied For The Job Card Posted.</i></p>
                </div>
            </div>
        </div>
</div>

</div>

{% endblock %}
